{% extends "base.html" %}

{% block title %}KeyLogger - Login{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
        {% endif %}
      {% endwith %}
      <form method="POST" action="{{ url_for('login') }}" class="text-center">
        <img class="mb-4" src="../static/images/keyboard.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3 position-relative">
          <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
          <label for="floatingPassword">Password</label>
          <button type="button" class="btn btn-link position-absolute end-0 top-50 translate-middle-y" 
                  onclick="togglePassword()" style="z-index: 10;">
              <i class="bi bi-eye" id="togglePasswordIcon"></i>
          </button>
        </div>

        <div class="form-check mb-3">
          <input type="checkbox" class="form-check-input" id="remember" name="remember" style="margin-right: 5px;">
          <label class="form-check-label" for="remember" style="margin-left: -290px;">Remember me</label>
        </div>
        <button class="btn btn-warning w-100 py-2" type="submit">Sign in</button>
      </form>
    </div>
  </div>
  <hr class="hr mt-5" />
</div>
{% endblock %}

{% block scripts %}
<script>
function togglePassword() {
    const passwordInput = document.getElementById('floatingPassword');
    const icon = document.getElementById('togglePasswordIcon');
    
    if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        icon.classList.remove('bi-eye');
        icon.classList.add('bi-eye-slash');
    } else {
        passwordInput.type = 'password';
        icon.classList.remove('bi-eye-slash');
        icon.classList.add('bi-eye');
    }
}
</script>
{% endblock %}
